@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

form label {
  margin-bottom: 4px;
  display: block;
}

html {
  font-size: 14px;
  font-style: normal;
}

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --surface-ground: #EFF3F8;
  --font-family: "Inter var",sans-serif;
}

.p-datatable-table .p-column-title {
  font-weight: 500;
}
